{#
 This file is part of EC-CUBE

 Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.
 http://www.lockon.co.jp/

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set menus = ['product', 'maker'] %}

{% block title %}商品管理{% endblock %}
{% block sub_title %}メーカー管理{% endblock %}

{% block javascript %}
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.core.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.widget.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.mouse.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.sortable.min.js"></script>
    <script>
        function changeAction(action) {
            document.form1.action = action;
        }
    </script>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-9">
            <div class="box">
                <div class="box-header">
                    <div class="box-title box-title-category">
                        <a href="{{ url('admin_product_category') }}">メーカー</a>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-inline">
                        <form role="form" class="form-horizontal" name="form1" id="form1" method="post">
                            <button class="btn btn-default btn-sm" type="submit" onclick="document.form1.submit(); return false;">メーカー作成</button>
                        </form>
                    </div>
                </div><!-- /.box-header -->

                    <div class="box-body no-padding no-border">
                        <div class="sortable_list">
                            <div class="tableish">

                            </div>
                        </div>
                    </div><!-- /.box-body -->
                <!-- 
                <div class="box-body no-padding">
                    <div class="data-empty"><svg class="cb cb-inbox"> <use xlink:href="#cb-inbox" /></svg><p>データはありません</p></div>
                </div>--><!-- /.box-body -->
            <!-- ▲ データがある時 ▲ -->

            </div><!-- /.box -->
        </div><!-- /.col -->

    </div>
{% endblock %}
